{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-header">增加药物</div>
    <div class="layui-card-body">
        <form action="{:url('admin/Song/edit')}" class="layui-form" method="post">
            {empty name="id"}
            <!-- 增加页面 -->
            <div class="layui-form-item maximum">
                <label class="layui-form-label">药物名字：</label>
                <div class="layui-input-inline">
                    <input type="text" name="song_name" value="" placeholder="药物名字" required="required" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">所要增加药物的名字</div>
            </div>

            <div class="layui-form-item maximum">
                <label class="layui-form-label">按时吃药:</label>
                <div class="layui-input-inline">
                    <textarea name="introduce"  rows="10" cols="50" required lay-verify="required" placeholder="请输入吃药时间点" ></textarea>
                </div>
            </div>


            {else /}
            <!-- 编辑页面 -->

            <input type="hidden" name="id" value="{$id}" id="">

            <div class="layui-form-item maximum">
                <label class="layui-form-label">药物名字：</label>
                <div class="layui-input-inline">
                    <input type="text" name="song_name" value="{$all.song_name}" placeholder="用户名字" required="required" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">所要编辑药物的名字</div>
            </div>

            <div class="layui-form-item maximum">
                <label class="layui-form-label">按时吃药:</label>
                <div class="layui-input-inline">
                    <textarea  rows="10" cols="50" name="introduce" required lay-verify="required" placeholder="请输入">{$all.introduce}</textarea>
                </div>
            </div>

            {/empty}
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit="">保存</button>
                    <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}