{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-header">机构设置</div>
    <div class="layui-card-body">
        <form action="{:url('admin/Sick/edit')}" class="layui-form" method="post" enctype="multipart/form-data">
            {empty name="id"}
            <!-- 增加页面 -->
            <div class="layui-form-item maximum">
                <label class="layui-form-label">患者姓名：</label>
                <div class="layui-input-inline">
                    <input type="text" name="user_name" value="" placeholder="填写患者姓名" required="required"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写患者的名字</div>
            </div>


            <div class="layui-form-item maximum">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-inline">
                    <input type="number" name="user_phone" value="" placeholder="填写患者的手机号" required="required"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">填写患者的手机号</div>
            </div>



            <div class="layui-form-item maximum">
                <label class="layui-form-label">药类：</label>
                <div class="layui-input-inline">
                    <select name="song_id" lay-verify="">
                        <option value="">请选择一种药</option>
                        {foreach name="date" item="v" empty="$empty"}
                        <option value="{$v.id}">{$v.song_name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">设置机构对应的药品</div>
            </div>


            <div class="layui-form-item maximum">
                <label class="layui-form-label">药量：</label>
                <div class="layui-input-inline">
                    <input type="number" name="song_number" value="" placeholder="选择药的数量" required="required"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">开几天的药量</div>
            </div>




            {else /}
            <!-- 编辑页面 -->
            <input type="hidden" name="id" value="{$id}" id="">
            
            <div class="layui-form-item maximum">
                <label class="layui-form-label">患者姓名：</label>
                <div class="layui-input-inline">
                    <input type="text" name="user_name" value="{$all.username}" placeholder="填写患者姓名" required="required"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写患者的名字</div>
            </div>


            <div class="layui-form-item maximum">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-inline">
                    <input type="number" name="user_phone" value="{$all.phone}" placeholder="填写患者的手机号" required="required"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">填写患者的手机号</div>
            </div>



            <div class="layui-form-item maximum">
                <label class="layui-form-label">药类：</label>
                <div class="layui-input-inline">
                    <select name="song_id" lay-verify="">
                        <option value="{$all.song_id}">{$all.song_name}</option>
                        {foreach name="date" item="v" empty="$empty"}
                        <option value="{$v.id}">{$v.song_name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">设置机构对应的药品</div>
            </div>


            <div class="layui-form-item maximum">
                <label class="layui-form-label">药量：</label>
                <div class="layui-input-inline">
                    <input type="number" name="song_number" value="{$all.song_number}" placeholder="选择药的数量" required="required"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">开几天的药量</div>
            </div>

            {/empty}
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit="">保存</button>
                    <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}